@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* basic root configuration */
:root {
  --primary: #2563eb;
  --gray: #f3f4f6;
  --dark-gray: #6b7280;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.highlight {
  color: var(--primary);
}

.text-sm {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--dark-gray);
  margin-top: 0rem;
}

.text {
  font-size: 1.2rem;
}

.text-md {
  font-size: 1.6rem;
}

hr {
  margin: 3rem 0rem;
}

.ow {
  background-color: var(--gray);
}

/* my containers */
.section {
  width: 100%;
  padding: 1rem;
}

.mycontain {
  max-width: 1100px;
  margin: auto;
  padding: 4rem;
}

.items {
  margin: 2rem auto;
  text-align: left;
  padding: 0.8rem 0rem;
}

/* navbar */
#nav {
  background-color: var(--primary);
  border-bottom-left-radius: 2rem;
}

#nav .mycontain {
  padding: 0rem;
}

.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand a {
  color: white;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}

.menu {
  display: inline-block;
}

.nav-link {
  padding: 0rem;
}

/* list */
.list-inline {
  display: inline;
  text-decoration: none;
  padding: 0rem 0.5rem;
}
.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

/* links */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
}

.link-primary {
  background-color: var(--primary);
  border-radius: 0.5rem;
  color: white;
  max-width: fit-content;
  padding: 1rem;
  display: block;
  font-weight: bold;
}

.link-secondary {
  color: var(--primary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  max-width: fit-content;
  padding: 1rem;
  display: block;
  font-weight: bold;
}

/* footer */
.footer {
  background-color: var(--primary);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  border-top-right-radius: 2rem;
}

/* hero section */

.hero {
  text-align: center;
  margin-top: 1rem;
}

.hero h1 {
  text-align: left;
}

.hero img {
  width: 450px;
  max-width: 60%;
}

.hero .mycontain {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero .underline {
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 1.3rem;
}

/* content */

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 4rem;
}

.content img {
  width: 450px;
  max-width: 60%;
}

.content .text-box {
  width: 45%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

/* showcase */
.showcase-list {
  padding: 2rem;
}

/* items */
.items .link-primary {
  display: inline-block;
}
.items .link-secondary {
  display: inline-block;
  margin-left: 1rem;
}

/* mobile responsive designing */

@media only screen and (max-width: 600px) {
  .text-md,
  h2 {
    font-size: 1.2rem;
  }

  .text-box h2 {
    font-size: 1.2rem;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-sm {
    font-size: 0.9rem;
  }

  .mycontain {
    padding: 2rem;
  }

  .menu {
    position: absolute;
    right: 0px;
    top: 75px;
    background-color: var(--primary);
    display: none;
    padding: 0.5rem;
    transition: ease 350ms;
  }

  .menu .list-inline {
    display: block;
    margin: 18px 10px;
  }

  .nav {
    justify-content: space-around;
  }
  #nav .mycontain {
    padding: 0.75rem 0rem;
  }

  .hero .mycontain {
    flex-direction: column;
    justify-content: center;
  }

  .hero h1 {
    font-size: 1.5rem;
  }
  .hero .underline {
    font-size: 1rem;
  }
  .hero img {
    object-fit: cover;
    margin-top: 25px;
  }

  .ow .content {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .ow .content img {
    display: none;
  }

  .ow .content .text-box {
    width: 100%;
    padding: 2rem;
  }
  .content {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  .content .text-box {
    width: 100%;
    padding: 2rem;
  }

  .link {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .items {
    padding: 1rem !important;
  }
  .list-non-bullet hr {
    margin: 2rem 0rem;
  }

  .showcase-list {
    padding: 0.5rem;
  }

  .link {
    display: inline;
    width: 50%;
  }

  .links-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
